services:
  frontend:
    build: ./frontend
    container_name: frontend  
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:3000
      - VITE_INTERNAL_API_URL=http://backend:3000
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - GEMINI_API_KEY={sua_chave}
    volumes:
      - ./backend:/app

networks:
  default:
    name: minha-redes
