services:
  frontend:
    build: ./frontend
    container_name: frontend  
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
      - VITE_INTERNAL_API_URL=http://backend:5000
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - GEMINI_API_KEY=AIzaSyBFUgiCt9qSJS6CY0vqje_oh42iSlvhMNQ
    volumes:
      - ./backend:/app

networks:
  default:
    name: minha-redes
