@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body, html, button, input, textarea, h1, h2, h3, p, span {
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-color: white;
  gap: 30px;
  padding: 40px 20px;
  overflow-y: auto;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 15px;
}

.envio-email{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.foto-email{
  width: 8vh;
  height: 8vh;
}

.titulo{
  color: black;
  margin-bottom: 5px;
  font-size: 55px;
}

.destaque-emails{
  color: black;
  text-decoration:wavy;
  text-decoration-color: #2885C7;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}

.subtitulo{
  color: rgb(85, 85, 85);
  font-weight: normal;
  text-align: center;
  margin-top: 4px;
  font-size: 18px;
}

.box-classificacao{
  background-color: #DCEEF8;
  border-radius: 25px;
  padding: 7px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icone-robot{
  width: 24px;
  height: 24px;
}
.texto-box-classificacao{
  color:#2885C7;
  border-radius: 20px;
  font-size: 15px;  
  font-weight: bold;
}

.quadrado-imagem{
  background-color: #DCEEF8;
  border-radius: 45px;
  padding: 15px 23px;
}
